<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> CREATE ACCOUNT </title>
	<link rel = "stylesheet" type="text/css" href="static/css/style.css">  

</head>
<body>
	    <form method="post" action="/create_account">
        
        <h4 class = 'headings'>
        Create a new account
        </h4>

        <p class = 'headings'> Please fill out the following information in order to create your account: </p>

        <div class = 'headings' >
            <label>Email*</label>
            <div>
                <input type="email"  name="email" id = emailStr required>
            </div>
        </div>



        <div class = 'headings'>
            <label>Name*</label>
            <div>
                <input type="name"  name="name" >
            </div>
        </div>


        <div class ='headings'>
            <label>Password*</label>
            <div>
                <input type="password"  name="password" minlength = '6'>
            </div>
        </div>


         <div class = 'headings'>
            <input type="submit">
        </div>



    </form>


	</body>
	</html>