<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> HOBBIES</title>

	<link rel = "stylesheet" type="text/css" href="static/css/style.css">  

</head>
<body>
        
        <h4 class =headings>
        Find your next hobby! 
        </h4>

        <p class = headings > Take a look at the following categories and choose your interests!</p>


<!--MARTIAL ARTS-->

 <a href='/martial_arts'>
    	<img src = " https://cdn0.iconfinder.com/data/icons/women-jobs-and-occupations/239/female-woman-002-512.png "> 
    </a> 

<!--CLIMBING-->

 <a href='/climbing'>
    <img  src = " https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYFCAGOGNQuZw3gUdv-zcRzD3gB3ZTFSOhYw&usqp=CAU"> 
    </a>

<!--WOODWORK--> 

 <a href='/woodwork'>
    <img  src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrSF3HHCiyQEzj--aLW1ZuRXZokdWFdC9VN4gE4yt6Y-as_AwHxlyyPY6Jx_OkdZcoxGg&usqp=CAU"> 
    </a> 


 
         </form> 
	</body>
	</html>