<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> LOGIN </title>

</head>
<body>
	    <form method="post" action="/login">
        
        <h4 class = 'headings'>
        Log in to your account
        </h4>

        <p> Please fill in your account details </p>


        <div class = 'headings'>
            <label>Email*</label>
            <div>
                <input type="email"  name="email" >
            </div>
        </div>



		<div class = 'headings'>
            <label>Password*</label>
            <div>
                <input type="password"  name="password" minlength = '6'>
            </div>
        </div>

        <div class = 'headings'>
            <input type="submit">
        </div>


    </form>
    <a href="/hobbies"><inpput type="submit" > <button>LOGIN</button> </a>

         </form> 

	</body>
	</html>