<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> LOGIN </title>

</head>
<body>
	    <form method="post" action="/login">
        
        <h4>
        Log in to your account
        </h4>

        <p> Please fill in your account details </p>


        <div>
            <label>Username*</label>
            <div>
                <input type="username"  name="username" >
            </div>
        </div>



		<div>
            <label>Password*</label>
            <div>
                <input type="password"  name="password" minlength = '6'>
            </div>
        </div>

        <div>
            <input type="submit"/>
        </div>


    </form>
    <a href="/hobbies"><button>LOGIN</button> </a>

         </form> 

	</body>
	</html>