<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOODWORK</title>
    <link rel = "stylesheet" type="text/css" href="static/css/style.css">  
</head>
<body>
    <h4 class =headings> INTRODUCTION TO WOODWORK </h4>

    
<!--PHOTOS AND CAPTIONS-->
    <figure>
    <img src=  "https://www.camphillclanabogan.com/sites/default/files/woodwork-inside_0.jpg"> 
    <figcaption class = introductions> Near you, woodwork workshops for beginners!  </figcaption>
    </figure>   

    <figure>
    <img src=  "https://cdn.shopify.com/s/files/1/2097/5937/products/cd2246176cf920ea4838f3e5e93c42e8a7dc26f7fa5a5ab79a6afa71dc9dd50b_2000x.jpg?v=1639506039 "> 
    <figcaption class = introductions>  The perfect gift for anyone! You can make these too !</figcaption>
    </figure>  






<!--COMMENTS-->
    <p > Leave a comment about your experience with woodwork! <p> 


 <div>
        <label> Subject* </label>
        <div> 
<form action='/woodwork' method= 'POST' >
            <input type="subject" name="subject">
        </div>
    </div>


    <div> 
        <label> Comment* </label>
        <div>
            <input type="comment" name="comment" maxlength='250'>
        </div>
    </div>

         <div class = 'headings'>
            <input type="submit">
        </div>
</form>
    


</body>
</html>